@media screen and (max-width: 768px) {
  nav h1 {
    padding-left: 5%;
  }

  nav #show {
    display: block;
    padding-right: 5%;
  }

  nav #nav {
    display: none;
  }

  .container .latest, .container .mobility, .container .newsletter, .container .contact {
    padding: 0;
  }

  main .container, .contact .info {
    flex-direction: column;
    text-align: center;
  }

  .mobility img {
    width: 100%;
  }

  .form-row {
    margin: 0 auto;
  }
  
  #social, #social ul {
    display: block;
    text-align: center;
  }

  #social p {
    margin-bottom: 0;
  }

}

@media screen and (min-width: 768px) {
  .contact .info {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
  }
}
